<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		id="com.capdev8.localassets"
    	version="0.1.0">
    <name>LocalAssets</name>
    <description>Cordova plugin for accessing assets from iOS and Android</description>
    <license>MIT</license>
    <author>glowmar</author>
    <keywords>cordova,phonegap,assets,thumbnails</keywords>

    <js-module src="www/localassets.js" name="LocalAssets">
        <clobbers target="window.navigator.localassets" />
    </js-module>
    
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="LocalAssets">
                <param name="ios-package" value="LocalAssets" />
            </feature>
        </config-file>
        <header-file src="src/ios/LocalAssets.h" />
        <source-file src="src/ios/LocalAssets.m" />

        <framework src="AssetsLibrary.framework"/>
        <framework src="CoreLocation.framework"/>
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="LocalAssets">
                <param name="android-package" value="com.localassets.LocalAssets" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <feature name="http://api.phonegap.com/1.0/file" />
        </config-file>
        <source-file src="src/android/LocalAssets.java" target-dir="src/com/localassets" />
    </platform>
</plugin>

